@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3f2fd;
}

.container {
    position: relative;
    background-color: #000000;
    padding: 25px;
    border-radius: 28px;
    max-width: 380px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.header, 
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 48px;
}

.header .chip {
    width: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card-number-container {
    margin-bottom: 20px;
}

.card-number-label {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.card-number {
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-holder {
    font-size: 1rem;
}

.expiry-container {
    text-align: right;
}

.valid-thru {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.expiry-date {
    font-size: 1rem;
}
